h1{
    background-color: #0499f2;
background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
    color:white;
    font-family:'Helvetica';
    text-decoration-line: underline;
  text-decoration-style: wavy;
    
}

h2{
    background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color:white;
    font-family:'Helvetica';
    text-decoration: underline overline dotted white;
     font-size: 25px;
     height: 30px;
}

h3{
    background-color: #00b712;
background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
     color:white;
    font-family:'Helvetica';
     font-size: 25px;
     height: 30px;
    text-decoration-line: overline underline;
  text-decoration-style: wavy;
}
h4{
    color:white;
    font-family:'Helvetica';
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    font-size: 25px;
     height: 30px;
    text-decoration: underline overline dotted white;
}
p.about{ 
    color: white; 
    font-family: 'Pacifico', cursive;
    font-size:17px;
} 
p.years{ 
    color: white; 
    font-family: 'Londrina Solid', cursive;
    font-size:17px;
} 
img {
    
    width:  300px;
    height: 340px;
    
}

body{background-color:green;
}
